nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: .75rem 1rem 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 1024px) {
    padding: 1rem 2rem;
    justify-content: left;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
}

.search-bar-container {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 35%;
  }
}

.cart-icon-container {
  position: relative;

  @media screen and (min-width: 1024px) {
    order: 3;
    margin-left: auto;
  }
}

.product-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  top: 0;
  right: -10px;
  z-index: 1111;
  background-color: #8B0000;
  color: white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 50%;
}
