<nav>
  <div>
    <a routerLink="/">
      <img ngSrc="../../../../assets/images/logo.svg" height="50" width="50" priority/>
    </a>
  </div>

  <div class="icons-container">
    <div class="cart-icon-container">
      <div class="product-count" *ngIf="productsCounter > 0">{{ productsCounter }}</div>

      <a routerLink="/order">
        <img ngSrc="../../../../assets/images/shopping-cart.svg" height="40" width="30"/>
      </a>
    </div>

    <a routerLink="/login" (click)="logout()">
      <img ngSrc="../../../../assets/images/logout.svg" height="50" width="30"/>
    </a>
  </div>

  <div class="search-bar-wrapper ">
    <app-search-bar (productAddedEvent)="onProductAdded($event)"/>
  </div>
</nav>
