@mixin style_text($font-size, $font-weight, $line-height, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

mat-card {
    display: grid;
    place-content: center;
    max-height: 100%;
    min-height: 100%;

    .section-form {
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        width: 400px;
        height: 500px;
        padding: 2rem;

        mat-card-header {
            padding: 1rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            mat-card-title {
                @include style_text(32px, 700, 40px, #252b42);
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin-top: 1rem;

                button{
                    border: none;
                    background-color: transparent;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;

            mat-form-field {
                width: 100%;
                padding: 0.5rem 0rem;
            }

            button {
                width: 100%;
                height: 48px;
                background: #008ecc;
                border-radius: 5px;
            }
        }

        
        @media screen and (max-width: 768px) {
            padding: 1rem;
            width: 98%;
            margin: 0 auto;
        }

    }
}
