<mat-card>
    <div class="section-form">
      <mat-card-header>
        <mat-card-title>Registrar</mat-card-title>
        <p>
          Si ya tenes cuenta
          <button (click)="login()">Ingresa</button>
        </p>
      </mat-card-header>

      <form [formGroup]="registerForm">
        <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" required (focus)="hideError()" />
                <mat-error *ngIf="registerForm.get('name')?.hasError('required')">El nombre es requerido</mat-error>
                <mat-error *ngIf="registerForm.get('name')?.hasError('name')">Solo se permiten letras</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="surname" required (focus)="hideError()" />
                <mat-error *ngIf="registerForm.get('surname')?.hasError('required')">El apellido es requerido</mat-error>
                <mat-error *ngIf="registerForm.get('surname')?.hasError('surname')">Solo se permiten letras</mat-error>
              </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" required (focus)="hideError()" />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">El correo electrónico es requerido</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">El correo electrónico no es válido</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" required (focus)="hideError()" />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">La contraseña debe contener al menos una letra minúscula, una letra mayúscula, un número y un carácter especial</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" required (focus)="hideError()" />
            <mat-error *ngIf="registerForm.get('address')?.hasError('required')">La dirección es requerida</mat-error>
            <mat-error *ngIf="registerForm.get('address')?.hasError('address')">Solo se permiten letras y numeros</mat-error>
          </mat-form-field>
          
          <mat-error *ngIf="error" class="error-message">{{ error }}</mat-error>
        </div>
  
        <button mat-raised-button color="primary" (click)="registrar()">Ingresar</button>
      </form>
    </div>
  </mat-card>
  